body {
    margin: 0;
    background-color: bisque;
}

.top {
    background-image: url("bigstock-indian-food-saag-paneer-curr-68302852-1.jpg");
    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    font-size: 500%;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    top: 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #111;
}

li {
    display: inline;
    position: relative;
    left: 25%;
}

#home {
    position: relative;
    right: 200%;
    font-size: 200%;
    top: 30px;
}

#restro {
    position: relative;
    right: 100%;
    font-size: 200%;
    top: 30px;
}

#menu {
    font-size: 200%;
    position: relative;
    top: 30px;
    right: 20%;
}

#drinks {
    font-size: 200%;
    position: relative;
    left: 11%;
    top: 30px;
}

.logo {
    height: 6em;
    position: relative;
    right: 80%;
    top: 1px;
}

li:hover {
    background-color: gray;
}

.active {
    background-color: greenyellow;
    color: hotpink;
}

.re {
    width: 100%;
}

#pp {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 10px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.7em;
    display: inline-block;
    padding-top: 5%;
    padding-left: 4%;
}

#loc {
    font-family: "Raleway";
    font-size: 150%;
    line-height: 1;
    letter-spacing: .4px;
    font-weight: 600;
    font-style: normal;
    color: rgba(0, 0, 0, .5);
    display: inline-block;
    left: 50%;
    float: right;
    position: relative;
    text-align: center;
}

#ento {
    padding-left: 4%;
    font-size: 190%;
    font-family: 'Merienda', cursive;
}

.menu {
    background-image: url("menu.jpg");
    background-color: #cccccc;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#dishes {
    font-size: 180%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 43%;
}